/** 
 * Name:Siddharth Mahendrabhai Nahar
 * Student ID:000930031
 * Date:01-10-2024
 * Course:Fall 2024 Web Application Development (CPRG-210-A)
 * Assignment 1 : HTML-CSS-JS Daily Assignments
*/
html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(231, 231, 222) !important;
}

.navbar {
    border: rgb(85, 169, 108) 2px solid
}

.navbar-image-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18%;
}

.page {
    overflow: auto;
    height: 100%;
    width: 100%;
}

.header-image {
    width: 112px;
    padding: 10px;
    cursor: pointer;
}

.header-title {
    font-weight: bolder;
    font-size: 27px;
    width: 200px;
}

.images-header {
    display: flex;
    justify-content: space-evenly;
    height: 170px;
    margin-top: 11px;
}

.register-contactus {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    height: 170px;
}

.tagline {
    color: blue;
    font-size: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    background-color: azure;
}

.header-link {
    text-decoration: none;
    color: black;
}

.link-navbar {
    color: black !important;
}

.footer {
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}

.register-container {
    padding: 30px 25px 28px;
    margin-left: 23px;
    max-width: 50%;
    margin-bottom: 24px;
    margin-top: 11px;
}

.submit-reset {
    margin-top: 20px;
}

.label-heading {
    font-weight: 600;
}

.asterick {
    color: red;
}

.main-heading-registration {
    font-size: 2rem;
    font-weight: 600;
}

.registration-heading {
    margin-left: 19px !important;
}

.images {
    display: flex;
    justify-content: space-around;
}

.image-wrapper {
    position: relative;
    margin: 10px;
    text-align: center;
    width: 150px;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.image-text {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.countdown {
    display: contents;
}

.info-text {
    visibility: hidden;
    font-size: 0.9rem;
    color: rgb(43, 41, 41);
}

.info-text.active {
    visibility: visible;
}

.title-head {
    font-size: larger;
    font-weight: bold;
    margin-left: 30px;
}

.agents-list {
    margin-left: 15px;
    margin-top: 8px;
}

.register img {
    height: 100%;
}